!!!
%html
  %head
    %title Cssgrid
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'grid_layout', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    = render 'nav'
